{% load static %}
{% load techblog_tags %}
{% load cache %}
{% cache 500 footer %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="widget">
                    <div class="footer-text text-left">
                        <a href="{% url 'home' %}"><img src="{% static 'images/version/tech-footer-logo.png' %}" alt=""
                                class="img-fluid"></a>
                        <p>Tech Blog is a technology blog, we sharing marketing, news and scientific articles.</p>

                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Popular Categories</h2>
                    <div class="link-widget">
                        <ul>
                            {% get_cat as categories %}
                            {% for category in categories|dictsortreversed:'cnt'|slice:5  %}
                            <li><a href="{{category.get_absolute_url}}">{{ category }}
                                    <span>({{ category.cnt }})</span></a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->


        </div><!-- end widget -->
        <!-- </div>end col -->
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <br>
            <div class="copyright">© Tech Blog. Design: HTML Design.</div>
        </div>
    </div>
    </div><!-- end container -->
</footer><!-- end footer -->
{% endcache %}