{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block content %}

<section class="section first-section row">
    <div class="container-fluid">
        {% if page_obj.number == 1 %}

        <div class="masonry-blog clearfix ">
            <div class="row">

                {% for post in main_posts%}

                <!-- <div class="{% cycle 'first' 'second' 'last' %}-slot "> -->
                <div class="second-slot">

                    <div class="masonry-box post-media">
                        {% if post.picture %}
                        <img src="{{ post.picture.url }}" alt="" class="img-fluid">
                        {% endif %}
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="{{ post.category.get_absolute_url }}"
                                            title="">{{post.category}}</a></span>
                                    <h4><a href="{{ post.get_absolute_url }}" title="">{{post.name}}</a></h4>
                                    <small><a href="{{ post.get_absolute_url }}"
                                            title="">{{post.created_at}}</a></small>
                                    <small>{{post.author}}</small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end first-side -->
                {%endfor%}
            </div>


        </div><!-- end masonry -->
        {% endif %}

    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        {% for post in posts %}

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="{{ post.get_absolute_url }}" title="">
                                        {% if post.picture %}
                                        <img src="{{ post.picture.url }}" alt="" class="img-fluid">
                                        {% endif %}
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.name }}</a></h4>
                                <p>{{ post.content|truncatewords:50 }}</p>
                                <small class="firstsmall"><a class="bg-orange"
                                        href="{{ post.category.get_absolute_url }}"
                                        title="">{{ post.category }}</a></small>
                                <small><a href="{{ post.get_absolute_url }}" title="">{{ post.created_at }}</a></small>
                                <small>{{ post.author }}</small>
                                <small><a href="{{ post.get_absolute_url }}" title=""><i class="fa fa-eye"></i>
                                        {% get_hit_count for post %}</a></small>
                                <h2>{{post.get_hit_count}}</h2>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">
                        {% endfor %}



                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                {% if is_paginated %}
                {% include "inc/_paginator.html" %}
                {% endif %}


            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                {% include "inc/_sidebar.html" %}
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock content %}